<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom header">
    <a href="/">
        <img alt="Логотип" class="me-3" height="50" th:src="@{/icon/Main_Icon.png}" width="50">
    </a>
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Главная</span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/list">Справочник</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/list/add">Добавить сотрудника</a>
    </nav>
</header>

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom header">-->
<!--    <a href="/">-->
<!--        <img alt="Логотип" class="me-3" height="50" th:src="@{/icon/Main_Icon.png}" width="50">-->
<!--    </a>-->
<!--    <span th:if="${!homePage}">-->
<!--        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">-->
<!--            <span class="fs-4">Главная</span>-->
<!--        </a>-->
<!--    </span>-->
<!--    <span th:if="${homePage}">-->
<!--        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="/list">Справка</a>-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="/list/add">Добавить сотрудника</a>-->
<!--        </nav>-->
<!--    </span>-->
<!--</header>-->


<!--</html>-->