<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/calendar.css}">
</head>
<body>
<header th:replace="components/header :: header">

</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Детали календарных дней</h2>
        </div>
    </div>
    <div class="col-md-12">
        <h3><span th:text="${calendarDay.date}"></span></h3>
        <ul class="list-group">
            <p th:if="${calendarDay.additionalInfo1 != null and !calendarDay.additionalInfo1.isEmpty()}">
                <a th:href="@{/details/info/1(id=*{calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span class="glyphicon glyphicon-star" th:utext="${calendarDay.additionalInfo1}"></span>
                </a>
            </p>
            <p th:if="${calendarDay.additionalInfo2 != null and !calendarDay.additionalInfo2.isEmpty()}">
                <a th:href="@{/details/info/2(id=${calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span th:utext="${calendarDay.additionalInfo2}"></span>
                </a>
            </p>
            <p th:if="${calendarDay.additionalInfo3 != null and !calendarDay.additionalInfo3.isEmpty()}">
                <a th:href="@{/details/info/3(id=${calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span th:utext="${calendarDay.additionalInfo3}"></span>
                </a>
            </p>
            <p th:if="${calendarDay.additionalInfo4 != null and !calendarDay.additionalInfo4.isEmpty()}">
                <a th:href="@{/details/info/4(id=${calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span th:utext="${calendarDay.additionalInfo4}"></span>
                </a>
            </p>
            <p th:if="${calendarDay.additionalInfo5 != null and !calendarDay.additionalInfo5.isEmpty()}">
                <a th:href="@{/details/info/5(id=${calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span th:utext="${calendarDay.additionalInfo5}"></span>
                </a>
            </p>
            <p th:if="${calendarDay.additionalInfo6 != null and !calendarDay.additionalInfo6.isEmpty()}">
                <a th:href="@{/details/info/6(id=${calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span th:utext="${calendarDay.additionalInfo6}"></span>
                </a>
            </p>
            <p th:if="${calendarDay.additionalInfo7 != null and !calendarDay.additionalInfo7.isEmpty()}">
                <a th:href="@{/details/info/7(id=${calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span th:utext="${calendarDay.additionalInfo7}"></span>
                </a>
            </p>
            <p th:if="${calendarDay.additionalInfo8 != null and !calendarDay.additionalInfo8.isEmpty()}">
                <a th:href="@{/details/info/8(id=${calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span th:utext="${calendarDay.additionalInfo8}"></span>
                </a>
            </p>
            <p th:if="${calendarDay.additionalInfo9 != null and !calendarDay.additionalInfo9.isEmpty()}">
                <a th:href="@{/details/info/9(id=${calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span th:utext="${calendarDay.additionalInfo9}"></span>
                </a>
            </p>
            <p th:if="${calendarDay.additionalInfo10 != null and !calendarDay.additionalInfo10.isEmpty()}">
                <a th:href="@{/details/info/10(id=${calendarDay.id})}" class="list-group-item list-group-item-action">
                    <span th:utext="${calendarDay.additionalInfo10}"></span>
                </a>
            </p>
        </ul>
    </div>
</div>

<script src="/js/bootstrap.js"></script>
</body>
</html>
