<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Calendar</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>

<div class="container">
  <h1>Calendar</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="calendarDay : ${calendarDays}">
      <td th:text="${calendarDay.date}"></td>
      <td th:text="${calendarDay.description}"></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfS6CUHpLyNTNUaG+2m2g2LXpizYD
        fzVZ3N3MIa"
        crossorigin="anonymous"></script>

</body>
</html>